 .div{
	width:100px;
	height:620px;
	float:left;
	opacity:.5;
 }
 #red{
	 background:red;
 }
 #orange{
	 background:orange;
 }
 #yellow{
	 background:yellow;
 }
 #lime{
	 background:lime;
 }
 #green{
	 background:green;
 }
 #teal{
	 background:teal;
 }
 #blue{
	 background:blue;
 }
 #purple{
	 background:purple;
 }
 #maroon{
	 background:maroon;
 }
 #pink{
	 background:pink;
 }